*.gem
*.rbc
.bundle
.config
coverage/*
InstalledFiles
lib/bundler/man
pkg
rdoc
specs/coverage
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

coverage/.last_run.json
coverage/.resultset.json
coverage/index.html
twitter_credentials.rb